.n-plate {

    font-family: monospace;
    border: 1px solid #ccc;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;

    img {
        width: 15px;
    }

    &__filter {
        width: 100%;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
        outline: none;
        box-sizing: border-box;
    }

    &__workflow {
        overflow: auto;
    }

    &__control {
        display: flex;
    }

    &__paginator {
        display: flex;
        
        &-content {
            height: 17px;
            border: 1px solid #ccc;
            padding: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-first,
        &-prev,
        &-next,
        &-last {
            width: 17px;
            height: 17px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    &__limit {
        margin-left: 8px;
    }

    &__reload {
        margin-left: 8px;
        width: 17px;
        height: 17px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__finder {
        margin-left: auto;
        margin-right: 8px;
    }

    &__search {
        height: 13px;
    }

    &__setting {
        width: 17px;
        height: 17px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__table {
        border-collapse: collapse;
    }
} 

// n-plate__paginator