.n-plate {

    font-family: monospace;

    img {
        width: 15px;
    }

    &__control {
        display: flex;
    }

    &__paginator {
        display: flex;
        
        &-content {
            height: 17px;
            border: 1px solid #ccc;
            padding: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-first,
        &-prev,
        &-next,
        &-last {
            width: 17px;
            height: 17px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__reload {
        margin-left: 8px;
        width: 17px;
        height: 17px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__setting {
        margin-left: auto;

        width: 17px;
        height: 17px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 

// n-plate__paginator