.n-plate {
  font-family: monospace;
  width: 100%;
  box-sizing: border-box;
}
.n-plate img {
  width: 15px;
}
.n-plate thead th {
  background-color: #efefef;
}
.n-plate tbody td {
  white-space: nowrap;
  border: 1px solid #ebebeb;
  padding: 0 4px;
}
.n-plate__label {
  padding: 0 4px;
}
.n-plate__context {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}
.n-plate__filter {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
.n-plate__workflow {
  overflow: auto;
  /* Works on Chrome, Edge, and Safari */
}
.n-plate__workflow::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.n-plate__workflow::-webkit-scrollbar-track {
  background: #777;
}
.n-plate__workflow::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 2px solid #777;
}
.n-plate__control {
  display: flex;
  background-color: #f2f2f2;
}
.n-plate__paginator {
  display: flex;
}
.n-plate__paginator-content {
  height: 17px;
  border: 1px solid #ccc;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-plate__paginator-first, .n-plate__paginator-prev, .n-plate__paginator-next, .n-plate__paginator-last {
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-plate__limit {
  margin-left: 8px;
}
.n-plate__reload {
  cursor: pointer;
  margin-left: 8px;
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-plate__finder {
  margin-left: auto;
}
.n-plate__search {
  height: 13px;
  outline: none;
}
.n-plate__setting {
  display: none;
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  position: relative;
}
.n-plate__setting .n-plate__context {
  display: none;
  top: 0;
  right: 0;
  margin-top: 19px;
  margin-right: -1px;
}
.n-plate__sort {
  cursor: pointer;
}
.n-plate__table {
  border-collapse: collapse;
}