.n-plate {
  font-family: monospace;
  border: 1px solid #ccc;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.n-plate img {
  width: 15px;
}
.n-plate tbody td {
  white-space: nowrap;
}
.n-plate__context {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}
.n-plate__filter {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
.n-plate__workflow {
  overflow: auto;
}
.n-plate__control {
  display: flex;
}
.n-plate__paginator {
  display: flex;
}
.n-plate__paginator-content {
  height: 17px;
  border: 1px solid #ccc;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-plate__paginator-first, .n-plate__paginator-prev, .n-plate__paginator-next, .n-plate__paginator-last {
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-plate__limit {
  margin-left: 8px;
}
.n-plate__reload {
  margin-left: 8px;
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-plate__finder {
  margin-left: auto;
  margin-right: 8px;
}
.n-plate__search {
  height: 13px;
  outline: none;
}
.n-plate__setting {
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.n-plate__setting .n-plate__context {
  display: none;
  top: 0;
  right: 0;
  margin-top: 19px;
  margin-right: -1px;
}
.n-plate__table {
  border-collapse: collapse;
}